<header class="pt-56 text-center">
  <h2 class="text-white text-5xl font-bold leading-[1.1em]">We Ensure A Best <br> Insurance Service</h2>
  <p class="text-white w-1/4 mx-auto mt-6 mb-12">We know how large objects will act, but things on a small scale just do not act that way.</p>
  <div>
    <a routerLink="/" class="btn btn-info rounded-full text-white me-2">Get Quote Now</a>
    <a routerLink="/" class="btn btn-outline text-white rounded-full ms-2">Learn More</a>
  </div>
</header>
<div class="flex justify-between content-center mx-auto mt- w-1/2 mt-[-65px]">
  <div class="bg-white ps-10 pe-8 py-8 w-64">
    <i></i>
    <h2>Peace of Mind</h2>
    <p>the quick fox jumps over the lazy dog</p>
  </div>
  <div class="bg-white ps-10 pe-8 py-8 w-64">
    <i></i>
    <h2>Peace of Mind</h2>
    <p>the quick fox jumps over the lazy dog</p>
  </div>
  <div class="bg-white ps-10 pe-8 py-8 w-64">
    <i></i>
    <h2>Peace of Mind</h2>
    <p>the quick fox jumps over the lazy dog</p>
  </div>
</div>
<div class="bg-blue-100 w-100 h-40 mt-[-72px]"></div>
