<div class="bg-white p-8 rounded shadow-md w-96">
    <h2 class="text-2xl font-semibold mb-4 text-black">Update Form</h2>
    <form>
        <div class="mb-4">
            <label for="name" class="block text-sm font-medium text-black text-black ">Name</label>
            <input [(ngModel)]="user.name" type="text" id="name" name="name" class="mt-1 p-2 w-full border rounded-md bg-gray-200 text-black">
        </div>

        <div class="mb-4">
            <label for="lastname" class="block text-sm font-medium text-black">Last Name</label>
            <input [(ngModel)]="user.lastname" type="text" id="lastname" name="lastname" class="mt-1 p-2 w-full border rounded-md bg-gray-200 text-black">
        </div>

        <div class="mb-4">
            <label for="email" class="block text-sm font-medium text-black">Email</label>
            <input [(ngModel)]="user.email" type="email" id="email" name="email" class="mt-1 p-2 w-full border rounded-md bg-gray-200 text-black">
        </div>

        <!-- <div class="mb-4">
            <label for="password" class="block text-sm font-medium text-black">Password</label>
            <input type="password" id="password" name="password" class="mt-1 p-2 w-full border rounded-md bg-gray-200 text-black">
        </div> -->

        <!-- <div class="mb-4">
            <label for="confirmPassword" class="block text-sm font-medium text-black ">Confirm Password</label>
            <input type="password" id="confirmPassword" name="confirmPassword"
                class="mt-1 p-2 w-full border rounded-md bg-gray-200 text-black">
        </div> -->

        <!-- <div class="mb-4">
            <label for="role" class="block text-sm font-medium text-black">Role</label>
            <select id="role" name="role" class="mt-1 p-2 w-full border rounded-md bg-gray-200 text-black">
                <option value="INSURER">INSURER</option>
                <option value="EXPERT">EXPERT</option>
            </select>
        </div> -->

        <button (click)="updateUser()" class="bg-blue-500 text-white px-4 py-2 rounded-md">Update</button>
    </form>
</div>