<div class="flex align-items-center justify-content-center">
  <p-panel header="Déclaration de Sinistre" class="flex">
    <span class="p-float-label">
      <input pInputText id="id" [(ngModel)]="sinistre.id"/>
      <label htmlFor="id">Numéro de sinistre</label>
    </span>
    <div class="flex justify-content-center">
      <p-button pRipple label="Chercher un sinistre" styleClass="bg-blue-600 border-blue-600" (click)="onGetSinistrerById()"></p-button>
    </div>
    <p-divider></p-divider>
    <p-panel header="Informations Client" class="flex">
    <br>
      <div class="flex inline-block justify-content-around align-content-center" style="width: 1000px">
        <span class="p-float-label">
          <p-calendar id="Date" [(ngModel)]="sinistre.date"></p-calendar>
          <!-- <input pInputText id="Date" [(ngModel)]="sinistre.date" /> -->
          <label htmlFor="Date">Date</label>
        </span>
        <span class="p-float-label">
          <input pInputText id="Client" [(ngModel)]="sinistre.client"/>
          <label htmlFor="Client">Client</label>
        </span>
      </div>
      <br>
      <p-divider></p-divider>
      <br>
      <div class="flex inline-block justify-content-around align-content-center" style="width: 1000px">
         <span class="p-float-label">
        <input pInputText id="Description" [(ngModel)]="sinistre.description"/>
        <label htmlFor="Description">Description</label>
      </span>
      <span class="p-float-label">
        <input pInputText id="Photo" [(ngModel)]="sinistre.photo"/>
        <label htmlFor="Photo">Lien photo</label>
      </span>
      </div>
    </p-panel>
    <br>
    <p-panel header="Informations Expert" class="flex">
      <p-divider></p-divider>
      <br>
      <div class="flex inline-block justify-content-around align-content-center" style="width: 1000px">
        <span class="p-float-label">
          <input pInputText id="Expert" [(ngModel)]="sinistre.expert"/>
          <label htmlFor="Expert">Expert</label>
        </span>
        <span class="p-float-label">
          <input pInputText id="montantEstime" [(ngModel)]="sinistre.montantEstime"/>
          <label htmlFor="montantEstime">montantEstime</label>
        </span>
        <span class="p-float-label">
          <input pInputText id="montantPayer" [(ngModel)]="sinistre.montantPaye"/>
          <label htmlFor="montantPayer">montantPayer</label>
        </span>
      </div>
      <p-divider></p-divider>
      <div class="flex justify-content-center">
        <p-button pRipple label="Envoyez le sinistre" styleClass="bg-blue-600 border-blue-600" (click)="onCreateSinistre()"></p-button>
      </div>
    </p-panel>
  </p-panel>
</div>
